/* GO TOP BUTTON */

.go-top-container {
    position: fixed;
    bottom: 1.5rem;
    right: .2rem;
    width: 3rem;
    height: 3rem;
    z-index: -1;
    transition: .2s;
}


.go-top-button{
    width: 0rem;
    height: 0rem;
    background: #064e8d63;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
    z-index: -1;
}

.go-top-button:hover{
    background: rgba(0, 225, 255, 0.315);
    transition: all .5s;
}

.go-top-button i{
    position: absolute;
    font-size: 3.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(255, 255, 255, 0.664);
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 4rem;
    height: 4rem;
    z-index: 100000;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
    0%{
        opacity: 0;
        width: 0rem;
        height: 0rem;
    }

    50%{
        opacity: .5;
        width: 4rem;
        height: 4rem;
    }

    100%{
        opacity: 1;
        width: 3rem;
        height: 3rem;
    }
}

/* BOTON PARA BAJAR A SOBRE MI EN HOME */

.scroll-down {
    height: 70px;
    width: 40px;
    border: 3px solid rgb(89, 95, 255);
    position: absolute;
    bottom: 20px;
    border-radius: 50px;
    cursor: pointer;
    inset: 0;
    margin: auto;
    margin-bottom: 20px;
    z-index: 10;
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid rgb(0, 247, 255);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1.2s ease-in-out infinite;
}

.scroll-down::before {
    top: 30%;
    animation-delay: 0.3s;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        top: 90%;
        opacity: 0;
    }
}

/* EFECTO BRIGHT MOUSE */

#cursor-halo {
    position: fixed;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    pointer-events: none;
    background: radial-gradient(circle, rgba(0, 50, 215, 0.205) 0%, transparent 50%);
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    mix-blend-mode: difference;
    z-index: -10;
}

/* EFECTO BOUNCE ICONOS GITHUB Y LINK EN PORTFOLIO */

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}