@media (max-width: 1650px) {

    .card-container{
        grid-template-columns: repeat(2,1fr);
    }

    .flip:nth-child(1){
        justify-self: right;
    }

    .flip:nth-child(2){
        justify-self: left;
    }

    .card-container .flip:nth-child(3){
        grid-column: span 2;
    }
    
}

@media (max-width: 1250px) {

    .about-container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .project-container{
        grid-template-columns: 1fr;
        margin: 3rem;
    }

    .services-intro{
        margin: 0 5% .5rem 5%;
    }

    .linea{
        margin: 1.5rem auto;
    }

    .services,
    .portfolio{
        margin: 0 2rem;
    }

    .card-container{
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .flip:nth-child(1){
        justify-self: center;
    }

    .flip:nth-child(2){
        justify-self: center;
    }

    .card-container .flip:nth-child(3){
        grid-column: auto;
    }


}

@media (max-width: 768px) {

    #menu-icon {
        display: block;
        cursor: pointer;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        top: -110vh;
        width: 100%;
        padding: 1rem 3%;
        background: linear-gradient(to right, #141414, #232526);
        border-top: .1em solid rgba(0, 0, 0, .2);
        border-bottom: .2em solid rgba(0, 225, 255, 0.365);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        opacity: 0;
        pointer-events: none;
    }

    .social-bar{
        display: none;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-100vh);
        }

        to {
            opacity: 1;
            transform: translateY(108vh);
        }
    }

    @keyframes slideUp {
        from {
            opacity: 1;
            transform: translateY(108vh);
        }

        to {
            opacity: 0;
            transform: translateY(-100vh);
        }
    }

    .navbar.active {
        display: block;
        padding-top: 2.5rem;
        animation: slideDown 1s forwards ease;
        pointer-events: auto;
    }

    .navbar.closing {
        display: block;
        animation: slideUp 2s forwards ease;
    }

    .active-icon {
        position: relative;
        z-index: 10000;
    }

    .navbar a {
        display: block;
        margin: 2em 0;
    }


    .about > *{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .about-intro{
        text-align: left;
    }

    .linea {
        width: 65%;
        height: 2px;
        margin: 2rem auto;
    }

    .about a{
        display: none;
    }

    .services-intro,
    .portfolio-intro{
        margin: 0;
        text-align: left;
    }

    .accordion-intro{
        margin: 0 0 2.5em 0;
        text-align: left;
    }

    .accordion-line{
        width: 50%;
        height: 2px;
    }
    
    .card-button{
        width: 75%;
        text-align: center;
    }

    .project-container{
        margin: 3rem 0;
    }

    .mobile-scroll-margin-top{
        scroll-margin-top: 5.5rem;
    }

    .home-multiple{
        min-height: 130px;
    }

    .home-title{
        margin-bottom: 1rem;
        line-height: 1.6;
    }

    .flip>.front,
    .flip>.back {
        justify-content: center;
    }

}

@media (max-width: 500px) {

    .project-techs {
        flex-wrap: wrap;
        justify-content: center;
    }

    .flip>.front,
    .flip>.back {
        width: 400px;
        height: 625px;
        justify-content: center;
    }

    .card-button{
        width: 100%;
    }

    .services,
    .portfolio,
    .about-container{
        margin: 0 1rem;
    }
    
}

@media (max-width: 375px) {

    .about-intro{
        margin: 0 1rem 2rem 1rem;
    }

    .linea{
        margin: 1rem auto;
    }

    .skills-title{
        text-align: center;
    }

    .skills{
        justify-content: center;
    }

    .flip>.front,
    .flip>.back {
        width: 350px;
        height: 725px;
        justify-content: center;
    }

    .scroll-down{
        margin-bottom: 80px;
    }

    .home{
        align-items: flex-start;
        padding-top: 8rem;
    }

}

