@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/Roboto_Slab/Woff/RobotoSlab-Bold.woff2') format('woff2'),
        url('../fonts/Roboto_Slab/Woff/RobotoSlab-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Elms Sans';
    src: url('../fonts/Elms_Sans/WOFF/ElmsSans-Thin.woff2') format('woff2'),
        url('../fonts/Elms_Sans/WOFF/ElmsSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Elms Sans';
    src: url('../fonts/Elms_Sans/WOFF/ElmsSans-ExtraLight.woff2') format('woff2'),
        url('../fonts/Elms_Sans/WOFF/ElmsSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Elms Sans';
    src: url('../fonts/Elms_Sans/WOFF/ElmsSans-Light.woff2') format('woff2'),
        url('../fonts/Elms_Sans/WOFF/ElmsSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Elms Sans';
    src: url('../fonts/Elms_Sans/WOFF/ElmsSans-Regular.woff2') format('woff2'),
        url('../fonts/Elms_Sans/WOFF/ElmsSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Elms Sans';
    src: url('../fonts/Elms_Sans/WOFF/ElmsSans-Medium.woff2') format('woff2'),
        url('../fonts/Elms_Sans/WOFF/ElmsSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Elms Sans';
    src: url('../fonts/Elms_Sans/WOFF/ElmsSans-SemiBold.woff2') format('woff2'),
        url('../fonts/Elms_Sans/WOFF/ElmsSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face{
    font-family: 'Elms Sans';
    src: url('../fonts/Elms_Sans/WOFF/ElmsSans-Bold.woff2') format('woff2'),
        url('../fonts/Elms_Sans/WOFF/ElmsSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'boxicons';
  src: url('../fonts/boxicons.woff2') format('woff2'),
       url('../fonts/boxicons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 1.5px;

}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}

html {
    width: 100vw;
    overflow-x: hidden;
}

body {
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #000000);
    background: linear-gradient(to right, #141414, #232526);
    color: var(--text-color);
    overflow-x: hidden;
}

/* ESTILOS COMUNES PARA TODA LA PAGINA */

.linea {
    display: block;
    width: 3%;
    height: 5px;
    background-color: #00bcd4;
    border-radius: 2px;
    margin: 1rem auto;
}

.background {
    position: fixed;
    inset: 0;
    z-index: -10;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='120' height='120'><rect width='120' height='120' fill='none' stroke='rgba(255,255,255,0.05)' stroke-width='1'/></svg>");
    background-repeat: repeat;
    background-size: 120px 120px;
}

/* GO TOP BUTTON */

.go-top-container {
    position: fixed;
    bottom: 0;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    z-index: -1;
    transition: .2s;
}

.go-top-button{
    width: 0rem;
    height: 0rem;
    background: #064e8d63;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .2s;
    z-index: -1;
}

.go-top-button:hover{
    background: rgba(0, 225, 255, 0.315);
    transition: all .5s;
}

.go-top-button i{
    position: absolute;
    font-size: 3.3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(255, 255, 255, 0.664);
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go-top-button{
    animation: popup .3s ease-in-out;
    width: 4rem;
    height: 4rem;
    z-index: 100000;
}

.show i{
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup{
    0%{
        opacity: 0;
        width: 0rem;
        height: 0rem;
    }

    50%{
        opacity: .5;
        width: 4rem;
        height: 4rem;
    }

    100%{
        opacity: 1;
        width: 3rem;
        height: 3rem;
    }
}

/*====================================================================================================*/
/*==================================== HEADER SECTION STYLES =========================================*/
/*====================================================================================================*/

.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 4%;
    background: transparent;
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
    user-select: none;
}

.header.sticky {
    background-color: #1f242d44;
    backdrop-filter: blur(120px);
    border-bottom: .15em solid rgba(0, 238, 255, 0.342);
    -webkit-backdrop-filter: blur(120px);
    transition: backdrop-filter 1s ease;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .flags-container:nth-child(2) {
    margin-left: 1rem;
}

.navbar a:nth-child(5) {
    margin-right: 2rem;
}

.navbar a {
    font-size: clamp(1.1rem, .737rem + 0.35vw, 1.5rem);
    color: var(--text-color);
    margin-left: clamp(1rem, 0.286rem + 1.705vw, 2rem);
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    transition: .6s ease;
}

.flags {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flags-container img {
    display: block;
    cursor: pointer;
    width: 30px;
}

.gray {
    filter: grayscale(100%);
}

.gray:hover {
    filter: grayscale(10%);
    opacity: 75%;
    transition: .3s ease;
}

#menu-icon {
    font-size: 2.2rem;
    color: var(--text-color);
    display: none;
}

/*====================================================================================================*/
/*====================================== HOME SECTION STYLES =========================================*/
/*====================================================================================================*/

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: relative;
    min-height: 100vh;
}

.home-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 5%;
}

.img-container{
    position: absolute;
    background: url(../images/background2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    opacity: .05;
    z-index: -1;
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.social-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: .5rem;
    transform: translateY(-50%);
    gap: 0.7rem;
    padding: .5rem;
    background-color: rgb(37, 37, 37);
    border-radius: 5px;
    border: 1px solid rgba(125, 125, 125, 0.391);
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    z-index: 100;
}

.social-bar a {
    display: block;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-radius: 10%;
    overflow: hidden;
    transition: box-shadow .7s ease, background-color .7s ease, filter .7s ease;
    filter: brightness(0) invert(1);
}

.social-bar a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-bar a:hover {
    filter: none;
    box-shadow: 0 1px 10px rgba(57, 57, 57, 0.4);
    background-color: rgb(25, 177, 197);
}

.home-title {
    font-size: clamp(3rem, 1.927rem + 2.545vw, 6rem);
    line-height: 1.3;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-bottom: 3rem;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.home-multiple {
    font-size: clamp(1.8rem, 1.657rem + 0.952vw, 2.7rem);
    text-align: center;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    color: var(--main-color);
}

.social-media {
    display: flex;
}

.blur-in {
    filter: blur(10px);
    opacity: 0;
    animation: blurIn 2.5s ease forwards;
}

@keyframes blurIn {
    0% {
        filter: blur(10px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}

/*====================================================================================================*/
/*==================================== ABOUT SECTION STYLES ==========================================*/
/*====================================================================================================*/

.about {
    display: block;
    user-select: none;
    scroll-margin-top: 4.5rem;
    min-height: 90vh;
    margin: 0 5%;
}

.about-title {
    font-size: clamp(1.7rem, 1.391rem + 1.318vw, 3.5rem);
    font-weight: 700;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5rem;
}

.about-intro {
    display: block;
    font-size: clamp(1rem, 0.945rem + 0.353vw, 1.6rem);
    margin: 2rem auto 2em auto;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    margin: 0 auto;
}

.about-text-container {
    display: block;
    unicode-bidi: isolate;
}

.about-text-title{
    font-size: clamp(1rem, 0.889rem + 0.907vw, 1.8rem);
    margin-bottom: 2rem;
}

.about-text {
    line-height: 1.4;
    font-weight: 200;
    font-size: clamp(1rem, 0.945rem + 0.301vw, 1.35rem);
}

.about-text:not(:last-child) {
    margin-bottom: 1.2rem;
}

.skills-container{
    display: block;
}

.skills-title {
    font-size: clamp(1rem, 0.889rem + 0.907vw, 1.8rem);
    margin-bottom: 2rem;
}

.skills {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.skills-skill {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px 20px 20px 0px;
    border: 2px solid teal;
    background-color: rgba(78, 78, 78, 0.379);
    border-radius: 7px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.641);
}

.skill-img {
    width: 24px;
    margin-right: 10px;
}

/* VER DONDE VOY A PONERLO */

.btn {
    display: inline-block;
    padding: .7rem 2rem;
    background: var(--main-color);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--main-color);
    font-size: clamp(1rem, 0.921rem + 0.362vw, 1.5rem);
    font-weight: 700;
    color: var(--second-bg-color);
    letter-spacing: 3px;
    transition: .5s ease;
    position: relative;
    overflow: hidden;
    margin: 3rem 5rem 0;
    z-index: 1;
}

.btn:hover {
    color: var(--main-color);
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    border-radius: 10px;
    left: 0;
    background: var(--second-bg-color);
    width: 0;
    height: 100%;
    z-index: -1;
    transition: .3s all;
}

.btn:hover::before {
    width: 100%;
}

/*====================================================================================================*/
/*================================== SERVICES SECTION STYLES =========================================*/
/*====================================================================================================*/

.services {
    display: block;
    user-select: none;
    scroll-margin-top: 4.5rem;
    min-height: 90vh;
    margin: 0 5%;
}

.services-title {
    font-size: clamp(1.7rem, 1.391rem + 1.318vw, 3.5rem);
    font-weight: 700;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5rem;
}

.services-intro{
    display: block;
    font-size: clamp(1rem, 0.945rem + 0.353vw, 1.6rem);
    margin: 2rem auto 2em auto;
}

/* FLIP CARDS */

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    width: 100%;
}

.front-title {
    font-size: clamp(1.5rem, 1.449rem + 0.22vw, 1.8rem);
    text-align: center;
    text-transform: uppercase;
}

.back-title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: .5rem;
    text-shadow: 3px 3px 5px rgb(0, 255, 225);
}

.back-info {
    margin-bottom: .5rem;
    font-size: 1rem;
    color: whitesmoke;
}

.back-items {
    list-style-type: none;
    margin-left: 1rem;
}

.card-linea {
    width: 60%;
    height: 2px;
    background-color: #00bcd4;
    margin: .2rem auto 1rem auto;
    border-radius: 2px;
    display: block;
}

.flip {
    position: relative;
    display: block;
    width: 100%;
    max-width: 600px;
    /* margin-right: 2px; */
    /* margin-bottom: 1em; */
}

.front,
.back {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-size: cover !important;
    background-position: center !important;
    min-height: 600px;
    padding: 1em;
    border-radius: 10px;

    /* necesarias para que NO se clickee lo de atrás */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    transition-timing-function: cubic-bezier(0.175, 0.3, 0.23, 1.275);
    transition-duration: 1s;
    transition-property: transform, opacity;

    box-shadow: 10px 10px 12px rgb(0, 0, 0);
    border: 1px solid rgba(184, 184, 184, 0.338);
    /* width: 500px; */

}

/* Frente visible */
.front {
    transform: rotateY(0deg);
    justify-content: flex-end;
}

/* Dorso oculto */
.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: rotateY(180deg);
}

.flip:hover .front {
    transform: rotateY(180deg);
}

.flip:hover > .back {
    opacity: 1;
    transform: rotateY(0deg);
}

.flip.flip-vertical > .back {
    transform: rotateX(-180deg);
}

.flip.flip-vertical:hover > .front {
    transform: rotateX(180deg);
}

.flip.flip-vertical:hover > .back {
    transform: rotateX(0deg);
}

/* FRONT */
.flip:nth-of-type(1) .front {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.3)), url('../images/landing.jpg');
}
.flip:nth-of-type(2) .front {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.3)), url('../images/institucional.jpg');
}
.flip:nth-of-type(3) .front {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.3)), url('../images/maintenance.jpg');
}

/* BACK */
.flip:nth-of-type(1) .back {
    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.8)), url('../images/landing.jpg');
}
.flip:nth-of-type(2) .back {
    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.8)), url('../images/institucional.jpg');
}
.flip:nth-of-type(3) .back {
    background: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.8)), url('../images/maintenance.jpg');
}

.flip:nth-child(1) .back p:nth-last-of-type(3),
.flip:nth-child(2) .back p:nth-last-of-type(3),
.flip:nth-child(3) .back p:nth-last-of-type(3) {
    margin: 1rem 0;
    text-align: center;
    color: rgb(0, 255, 34);
}

.flip:nth-child(1) .back p:last-of-type,
.flip:nth-child(1) .back p:nth-last-of-type(2),
.flip:nth-child(2) .back p:nth-last-of-type(1),
.flip:nth-child(2) .back p:nth-last-of-type(2),
.flip:nth-child(3) .back p:nth-last-of-type(2),
.flip:nth-child(3) .back p:nth-last-of-type(1) {
    margin: 0;
    text-align: center;
}

.card-button {
    align-self: center;
    margin: 1rem 0 0 0;
    letter-spacing: 1px;
    padding: .7rem 2rem;
    font-size: clamp(0.9rem, 0.866rem + 0.146vw, 1.1rem);
    pointer-events: none;
}

.flip:hover .card-button {
    pointer-events: auto;
}

/* TERMINOS DEL SERVICIO ACORDEON */

.accordion-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.accordion-title{
    display: block;
    font-size: clamp(1.3rem, 1.214rem + 0.366vw, 1.8rem);
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
}

.accordion-line{
    display: block;
    width: 10%;
    height: 2px;
    background-color: #00bcd4;
    margin: 1rem auto;
    border-radius: 2px;
}

.accordion-intro{
    display: inline-block;
    font-size: clamp(0.9rem, 0.866rem + 0.146vw, 1.1rem);
    margin: 2rem 0;
    text-align: center;
}

.accordion {
    width: 100%;
    max-width: 750px;
    overflow: hidden;
}


/* ESTO ES FUNDAMENTAL PARA QUE SE PUEDA IR DE UNO EN UNO SIN CERRAR EL OTRO */
/* LA VERDAD NI IDEA PORQUE XD*/

.accordion-item {
    transition: all .5s ease;
}

.accordion-item.active .accordion-header{
    background: linear-gradient(135deg, #000000, #313131);
    color: rgb(6, 230, 255);
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 66px;
    cursor: pointer;
    padding: .5rem 1.5rem;
    font-weight: 600;
    background: linear-gradient(135deg, #313131, #000000);
    transition: background .5s ease;
    border-radius: 5px;
    border: 1px solid rgba(89, 89, 89, 0.451);
    box-shadow: 4px 4px 10px rgb(0, 0, 0);
}

.accordion-header:hover{
    color: rgb(6, 230, 255);
    transition: all .5s ease;
}

.accordion-header span {
    font-size: 2rem;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background: #121212;
    transition: max-height 0.4s ease;
    margin: .3rem 0;
    padding: 0 1.2rem;
    border-radius: 5px;
    transition: all .5s ease;   
}

.accordion-content p {
    line-height: 1.4;
    font-size: 0.95rem;
    color: #f5f5f5;
    letter-spacing: 1px;
}

.accordion-item:nth-child(2) .accordion-content p:nth-child(1){
    margin-bottom: .5rem;
}

.accordion-item.active .accordion-content {
    max-height: 400px;
    padding: 2rem 1.2rem;
    margin: 1rem 0;
    border: 1px solid rgba(152, 152, 152, 0.317);
}

.accordion-item.active .accordion-header span {
    font-size: 2rem;
}

/*====================================================================================================*/
/*================================== PORTFOLIO SECTION STYLES ========================================*/
/*====================================================================================================*/

.portfolio {
    display: block;
    user-select: none;
    scroll-margin-top: 4.5rem;
    min-height: 90vh;
    margin: 0 5%;
}

.portfolio-title{
    font-size: clamp(1.7rem, 1.391rem + 1.318vw, 3.5rem);
    font-weight: 700;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5rem;
}

.portfolio-intro {
    display: block;
    font-size: clamp(1rem, 0.945rem + 0.353vw, 1.6rem);
    margin: 2rem auto 2em auto;
}

.project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    margin: 4rem 0;
}

.project-container:nth-last-child{
    margin: 0;
}

.project-img-cont {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 750px;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}

.note-frame {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    position: relative;
    z-index: 2;
}

.screen {
    position: absolute;
    top: 5%;
    left: 11%;
    width: 79%;
    height: 87%;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
}

.slider {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform .5s ease-in-out;
}

.slide {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex: 0 0 100%;
    overflow: clip;
    overflow-clip-margin: content-box;
}

.project-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-title {
    margin: 1rem 0;
}

.info-description {
    margin: 1rem 0;
    font-size: clamp(0.85rem, 0.807rem + 0.183vw, 1.1rem);
    font-weight: 400;
}

.project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 3rem;
}

.project-links a {
    display: inline-block;
    text-decoration: none;
}

.project-links a img {
    display: block;
    width: 3.5em;
    height: auto;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100%;
}

.project-techs {
    display: flex;
    flex-direction: row;
    margin: 1rem;
}

.skill-project {
    margin: 10px;
    height: 2.5rem;
}

/* Contact Section Styles */

.contact {
    user-select: none;
    min-height: 80vh;
    scroll-margin-top: 5rem;
}

.contact-title{
    font-size: clamp(1.7rem, 1.391rem + 1.318vw, 3.5rem);
    font-weight: 700;
    letter-spacing: 7px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 5rem;
}

.contact-intro{
    display: inline-block;
    text-align: left;
    font-size: clamp(1rem, 0.945rem + 0.353vw, 1.6rem);
    margin: 0 8% 1em 8%;
}

.contact-intro span a{
    color: var(--main-color);
    transition: color .5s ease;
}

.contact-intro span a:hover{
    color: rgb(0, 255, 21);
}

.contact form {
    max-width: 50%;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box:nth-child(2) input {
    width: 100%;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1em;
    font-size: clamp(1rem, 0.768rem + 0.145vw, 1rem);
    -webkit-text-size-adjust: 100%;
    color: var(--text-color);
    background: var(--bg-color);
    border: 1px solid var(--main-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form textarea {
    resize: none;
}

#name:focus,
#email:focus,
#message:focus {
    border: 2px solid var(--main-color);
}

#name::placeholder,
#email::placeholder,
#message::placeholder {
    color: rgba(189, 189, 189, 0.733);
}

.input-btn {
    margin-top: 2rem;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 2rem var(--main-color);
    font-size: clamp(1rem, 0.952rem + 0.217vw, 1.3rem);
    font-weight: 600;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    transition: .5s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.input-btn:hover {
    background: var(--bg-color);
    color: var(--main-color);
}

/* Footer Design */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    background: var(--bg-color);
}

.menu-footer{
    display: flex;
    flex-direction: row;
}

.footer-text p{
    font-size: clamp(0.9rem, 0.866rem + 0.146vw, 1.1rem);
}

.menu-footer a:not(:last-child) {
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

.menu-footer a img{
    width: 100%;
    object-fit: cover;
    filter: brightness(0) invert(1);
    opacity: 0.5;
    transition: opacity .5s ease;
}

.menu-footer a:hover img {
    filter: brightness(0) invert(1);
    opacity: 1;
}

@media (min-width: 1950px) {
    .card-container .flip:nth-of-type(1){
        justify-self: right;
    }
    .card-container .flip:nth-of-type(3){
        justify-self: left;
    }
    .card-container{
        gap: 2rem;
    }
}

@media (min-width: 1750px) {
    .about{
        min-height: 60vh;
    }
}

@media (max-width: 1650px) {

    .about{
        min-height: 75vh;
    }

    .card-container{
        grid-template-columns: repeat(2,1fr);
    }

    .flip:nth-child(1){
        justify-self: right;
    }

    .flip:nth-child(2){
        justify-self: left;
    }

    .flip:nth-child(3){
        width: auto;
    }

    .card-container .flip:nth-child(3){
        grid-column: span 2;
    }
    
}

@media (max-width: 1250px) {

    .about-container{
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .project-container{
        grid-template-columns: 1fr;
        margin: 3rem;
    }

    .linea{
        margin: 1.5rem auto;
    }

    .flip:nth-child(3){
        width: 100%;
    }

    .services,
    .portfolio{
        margin: 0 2rem;
    }

    .card-container{
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .flip:nth-child(1){
        justify-self: center;
    }

    .flip:nth-child(2){
        justify-self: center;
    }

    .card-container .flip:nth-child(3){
        grid-column: auto;
    }

    .contact form {
        max-width: 60%;
    }

    .footer{
        padding: 2rem;
        justify-content: center;
        flex-direction: column;
    }

    .footer-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1.2rem;
    }

    .footer-text p{
        text-align: center;
    }


}

@media (max-width: 768px) {

    #menu-icon {
        display: block;
        cursor: pointer;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        left: 0;
        top: -110vh;
        width: 100%;
        padding: 1rem 3%;
        background: linear-gradient(to right, #141414, #232526);
        border-top: .1em solid rgba(0, 0, 0, .2);
        border-bottom: .2em solid rgba(0, 225, 255, 0.365);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        opacity: 0;
        pointer-events: none;
    }

    .social-bar{
        display: none;
    }

    @keyframes slideDown {
        from {
            opacity: 0;
            transform: translateY(-100vh);
        }

        to {
            opacity: 1;
            transform: translateY(108vh);
        }
    }

    @keyframes slideUp {
        from {
            opacity: 1;
            transform: translateY(108vh);
        }

        to {
            opacity: 0;
            transform: translateY(-100vh);
        }
    }

    .navbar.active {
        display: block;
        padding-top: 2.5rem;
        animation: slideDown 1s forwards ease;
        pointer-events: auto;
    }

    .navbar.closing {
        display: block;
        animation: slideUp 2s forwards ease;
    }

    .active-icon {
        position: relative;
        z-index: 10000;
    }

    .navbar a {
        display: block;
        margin: 2em 0;
    }


    .about > *{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .about-intro{
        text-align: left;
    }

    .linea {
        width: 65%;
        height: 2px;
        margin: 2rem auto;
    }

    .about a{
        display: none;
    }

    /* .services-intro,
    .portfolio-intro{
        margin: 0;
        text-align: left;
    } */

    .accordion-intro{
        margin: 0 0 2.5em 0;
        text-align: left;
    }

    .accordion-line{
        width: 50%;
        height: 2px;
    }
    
    .card-button{
        width: 75%;
        text-align: center;
    }

    .project-container{
        margin: 3rem 0;
    }

    .mobile-scroll-margin-top{
        scroll-margin-top: 5.5rem;
    }

    .home-multiple{
        min-height: 130px;
    }

    .home-title{
        margin-bottom: 1rem;
        line-height: 1.6;
    }

    .contact form {
        max-width: 70%;
    }

    .contact-intro{
        margin-bottom: 1rem;
    }

    .title-contact-container{
        margin-bottom: 1rem;
    }

    .show .go-top-button{
        width: 2.5rem;
        height: 2.5rem;
    }

    .go-top-button i{
        font-size: 2rem;
    }

}

@media (max-width: 500px) {

    .project-techs {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-title,
    .services-title,
    .portfolio-title,
    .contact-title{
        letter-spacing: 1px;
    }

    .linea{
        margin: 1rem auto;
        width: 50px;
    }

    .flip>.front,
    .flip>.back {
        height: 625px;
        justify-content: center;
    }

    .card-button{
        width: 90%;
    }

    .services,
    .portfolio,
    .about-container{
        margin: 0 1rem;
    }

    .contact form{
        margin: 0 auto;
        max-width: 90%;
    }

    .info-description{
        text-align: center;
    }

    .about-intro{
        margin: 0 1rem 2rem 1rem;
        margin: 1rem 0;
    }

    .about-container{
        margin: 0;
    }

    .contact-intro{
        margin: 0 1rem 1rem 1rem;
    }

    .about-text-title{
        text-align: center;
        margin-bottom: 1rem;
    }

    .skills-title{
        text-align: center;
    }

    .input-btn{
        margin-bottom: 5rem;
    }

}

@media (max-width: 420px) {
    .flip p:nth-last-of-type(-n + 2) {
        display: none;
    }
}

@media (max-width: 375px) {

    .flip{
        margin: 0;
    }

    .skills-title{
        text-align: center;
    }

    .skills{
        justify-content: center;
    }

    .flip>.front,
    .flip>.back {
        width: 325px;
        height: 600px;
        justify-content: center;
    }

    .scroll-down{
        margin-bottom: 80px;
    }

    .home{
        align-items: flex-start;
        padding-top: 8rem;
    }

    .contact-intro{
        text-align: left;
        margin-bottom: 1rem;
    }

    .heading-contact{
        font-size: 1.5rem;
    }

    .contact form {
        max-width:90%;
    }

    .item{
        font-size: .9rem;
    }

    .back-info {
        font-size: .9rem;
    }

    .back-items {
        margin-left: .5rem;
    }

    .card-button{
        padding: .6rem .5rem;
    }

}

